<mat-toolbar class="main text_color">
  <span class="thoda_upar text_color"><mat-icon>eco</mat-icon> My App</span>
  
  <span class="example-spacer text_color button-effect"></span>
  <a mat-button class="text_color button-effect">Job Seeker</a>
  <a mat-button class="text_color button-effect">Referral Provider</a>
  <span class="example-spacer"></span>
  <a mat-button class="text_color button-effect">Profile</a>
  <a mat-button class="text_color button-effect">Login</a>
  <a mat-raised-button color="accent" class="text_color">Sign Up</a>
</mat-toolbar>