<mat-toolbar class="main ">
  <span class="thoda_upar "><mat-icon>eco</mat-icon> My App</span>
  <span class="example-spacer button-effect"></span>
  <a mat-button class=" button-effect">Seek Jobs</a>
  <a mat-button class=" button-effect">Check Referrals Invite</a>
  <a mat-button class=" button-effect">CHAT</a>
  <span class="example-spacer"></span>
  <a mat-button class=" button-effect">Profile</a>
  <a mat-button class=" button-effect" [routerLink]="['/login']">Login</a>
  <a mat-raised-button [routerLink]="['/signup']">Sign Up</a>
</mat-toolbar>

